{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": ["styled-components", "@babel/plugin-syntax-dynamic-import"]
}
