/* roboto-300normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local('Roboto Light '), local('Roboto-Light'),
    url('../node_modules/typeface-roboto/files/roboto-latin-300.woff') format('woff');
}

/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: local('Roboto Light italic'), local('Roboto-Lightitalic'),
    url('../node_modules/typeface-roboto/files/roboto-latin-300italic.woff') format('woff');
}

/* roboto-400normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Roboto Regular '), local('Roboto-Regular'),
    url('../node_modules/typeface-roboto/files/roboto-latin-400.woff') format('woff');
}

/* roboto-400italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local('Roboto Regular italic'), local('Roboto-Regularitalic'),
    url('../node_modules/typeface-roboto/files/roboto-latin-400italic.woff') format('woff');
}

/* roboto-500normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('Roboto Medium '), local('Roboto-Medium'),
    url('../node_modules/typeface-roboto/files/roboto-latin-500.woff') format('woff');
}

/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: local('Roboto Medium italic'), local('Roboto-Mediumitalic'),
    url('../node_modules/typeface-roboto/files/roboto-latin-500italic.woff') format('woff');
}
